body {
	display: flex;
	justify-content: center;
	background-color: rgba(94, 245, 6, 0.075);
}

.center {
	margin-top: .5em;
	display: flex;
	flex-direction: column;
}

#button {
	background-color: rgba(102, 102, 102, 0.308);
	border-color: #000;
	border-radius: 5px;
	padding: 5px;
	margin-top: 25px;
	cursor: pointer;
}

.grid {
	border: 1px solid;
	display: flex;
	flex-wrap: wrap;
	height: 360px;
	width: 360px;
	border-radius: 5px;
}

.grid div {
	height: 40px;
	width: 40px;
	border-radius: 5px;
}

.ending-block {
	background-color: rgb(204, 204, 0);
}

.starting-block {
	background-color: rgba(102, 0, 102, 0.808);
}

.c1 {
	background-color: rgba(0, 0, 0, 0.637);
}

.l1, .l2, .l3 {
	background-color: rgba(90, 28, 28, 0.726);
}

.l4, .l5 {
	background-color: rgba(32, 154, 185, 0.274);
}

.c2, .c3 {
	background-color: rgb(229, 230, 173);
}

.frog {
	background-color: darkgreen;
}
